body{
background:#202020;
color:white;
font-family:sans-serif;
padding:20px;
}

input,textarea{
display:block;
margin-bottom:10px;
padding:8px;
width:260px;
}

button{
padding:10px;
cursor:pointer;
}
